<div class="container p-3">
    <div class="row p-3" ng-hide="loaded">
        <div class="col-md-6">
            <div class="float-right">
                <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
            </div>
        </div>
    </div>

    <div class="row" ng-show="loaded">
        <div class="col-md-12">
            <h5>
                <a ng-href="#/vacancy/{{details.vacancy.id}}">
                    {{ details.vacancy.name }}
                </a>
                <br>
                <small>
                    {{ details.vacancy.company }}.
                    {{ details.vacancy.location }}.
                    {{ details.vacancy.rate }}.
                    {{ details.vacancy.experience }}.
                </small><br>
                <small>
                    <a class="btn-link" ng-href="#/vacancy/candidates/{{details.vacancy.id}}/total">
                        Все : {{ details.statistic.total }}
                    </a>&nbsp;
                    <a class="btn-link" ng-href="#/vacancy/candidates/{{details.vacancy.id}}/success">
                        Успешно пройденные : {{ details.statistic.success }}
                    </a>&nbsp;
                    <a class="btn-link" ng-href="#/vacancy/candidates/{{details.vacancy.id}}/fail">
                        Не прошли : {{ details.statistic.fail }}
                    </a>&nbsp;
                    <a class="btn-link" ng-href="#/vacancy/candidates/{{details.vacancy.id}}/reject">
                        Отказано : {{ details.statistic.reject }}
                    </a>&nbsp;
                    <a class="btn-link" ng-href="#/vacancy/candidates/{{details.vacancy.id}}/hire">
                        В процессе найма : {{ details.statistic.hire }}
                    </a>
                </small>
                <div class="form-group float-right" style="display: inline;">
                    <form ng-submit="searchText()">
                        <input class="form-control" ng-model="search" placeholder="Поиск" style="width: 300px;"
                               type="text">
                    </form>
                </div>
            </h5>
        </div>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Кандидат</td>
                    <td>Дата прохождения</td>
                    <td>Результат</td>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="candidate in data.candidates|itemsPerPage:data.itemsPerPage"
                    ng-click="detailInterview(candidate)" ng-hide="candidate.deleted" style="cursor: pointer;"
                    total-items="data.total_count">
                    <td>
                        <h6 class="mb-2">
                            <strong>{{ candidate.person.username }}</strong> ({{ candidate.person.email }})
                        </h6>
                    </td>
                    <td>
                        <h6 class="mb-2">
                            {{ candidate.interview.start | date: 'dd.MM.yyyy'}} -
                            <span ng-show="candidate.interview.finish">
                                    {{ candidate.interview.finish | date: 'dd.MM.yyyy'}}
                                </span>
                            <span ng-hide="candidate.interview.finish">
                                    не завершен
                                </span>
                        </h6>
                    </td>
                    <td>
                        <h6 class="mb-2">
                            {{ resultLabel(candidate.interview.result) }}
                        </h6>
                    </td>
                </tr>
                </tbody>
            </table>
            <dir-pagination-controls boundary-links="true"
                                     direction-links="true"
                                     max-size="10"
                                     on-page-change="data.getData(newPageNumber)"
                                     template-url="./js/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>
    </div>
</div>