<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">CheckDev</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" th:href="@{/categories/}">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" th:href="@{/interviews/}">Собеседования</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profiles/}">Профили</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex" th:if="${userInfo == null}">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">
                            Войти
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex" th:if="${userInfo != null}">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/persons/}">
                            <span th:text="${userInfo.username != null} ? ${userInfo.username} : ${userInfo.email}">Login/Email пользователя</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/logout}">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" th:each="breadcrumb: ${breadcrumbs}">
                    <a th:href="${breadcrumb.url}" th:text="${breadcrumb.name}"></a>
                </li>
            </ol>
        </nav>
    </div>
</div>