<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="img/favorite.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="description" content="Обучение и трудоустройство Java-программистов от Junior до Senior">
    <meta name="author" content="Job4j.ru">
    <title>Обучение и трудоустройство Java-программистов от Junior до Senior</title>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,400i,900|Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/settings.css">
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="../../static/js/dirPagination.js"></script>

    <script src="../../static/js/job4j.js?v=19.10.2018"></script>
    <script src="../../static/js/validator.js"></script>
    <link href="../../static/js/jQueryFormStyler/dist/jquery.formstyler.css" rel="stylesheet" />
    <link href="../../static/js/jQueryFormStyler/dist/jquery.formstyler.theme.css" rel="stylesheet" />
    <script src="../../static/js/jQueryFormStyler/dist/jquery.formstyler.js"></script>

    <link rel="stylesheet" type="text/css" href="../../static/js/jquery-ui.css" />
    <script src="../../static/js/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
    <script>
        CONTEXT = '../';
        $(function () {
            initHeader();
            loadUser();
        });
    </script>
</head>

<body ng-app="job4j">

<div header></div>

<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12" style="padding-top: 20px;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../index.html">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="../settings/settings.html">Настройки</a></li>
                </ol>
            </nav>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="notification"  style="display: none;"
                   data-toggle="pill" role="tab" aria-controls="v-pills-home"
                   aria-selected="true" href="#/notifications">Уведомления</a>

                <a class="nav-link " id="profile"  style="display: none;"
                   data-toggle="pill" role="tab" aria-controls="v-pills-home"
                   aria-selected="true" href="#/profile">Изменить Профиль</a>

                <a class="nav-link " id="change_password"  style="display: none;"
                   data-toggle="pill" role="tab" aria-controls="v-pills-home"
                   aria-selected="true" href="#/persons/pass">Изменить Пароль</a>

                <a class="nav-link " id="task_algo"  style="display: none;"
                   data-toggle="pill" role="tab" aria-controls="v-pills-home"
                   aria-selected="true" href="#/algos">Задачи</a>

                <a class="nav-link " id="persons"  style="display: none;"
                   data-toggle="pill" role="tab" aria-controls="v-pills-home"
                   aria-selected="true" href="#/persons">Пользователи</a>

                <a class="nav-link " id="createPerson"  style="display: none;"
                   data-toggle="pill" role="tab" aria-controls="v-pills-home"
                   aria-selected="true" href="#/createPerson">Создать пользователя</a>
            </div>
        </div>
        <div class="col-md-10 p-3" ng-view>
        </div>
    </div>
</div>

<div footer></div>

<script>
    var job4j = angular.module("job4j", ['ngRoute', 'angularUtils.directives.dirPagination']);
    var version = '19.10.2018';
    job4j.config(['$routeProvider',
        function ($routeProvider) {
            $routeProvider.when('/notifications', {
                templateUrl: './notification/notifications.html?v=' + version,
                controller: 'NotificationViewController'
            }).when('/notifications/settings', {
                templateUrl: './notification/settings.html?v=' + version,
                controller: 'NotificationSettingsController'
            }).when('/notifications/settings/update/:id?', {
                templateUrl: './notification/setting.html?v=' + version,
                controller: 'NotificationSettingsUpdateController'
            }).when('/notifications/template/update/:id?', {
                templateUrl: './notification/template.html?v=' + version,
                controller: 'NotificationTemplateUpdateController'
            }).when('/notifications/template/:id', {
                templateUrl: './notification/send.html?v=' + version,
                controller: 'NotificationTemplateController'
            }).when('/algos', {
                templateUrl: './algo/algos.html?v=' + version,
                controller: 'AlgosController'
            }).when('/algo/update/:id?', {
                templateUrl: './algo/update.html?v=' + version,
                controller: 'AlgoUpdateController'
            }).when('/algo/:id', {
                templateUrl: './algo/algo.html?v=' + version,
                controller: 'AlgoViewController'
            }).when('/profile', {
                templateUrl: './profile/profile.html?v=' + version,
                controller: 'ProfileController'
            }).when('/profileView/:key?', {
                templateUrl: './profile/person.html?v=' + version,
                controller: 'ViewPersonController'
            }).when('/orders/:type?', {
                templateUrl: './order/orders.html?v=' + version,
                controller: 'OrderController'
            }).when('/persons', {
                templateUrl: './persons/persons.html?v=' + version,
                controller: 'PersonController'
            }).when('/persons/update/:id?', {
                templateUrl: './persons/update.html?v=' + version,
                controller: 'PersonUpdateController'
            }).when('/persons/pass/:id?', {
                templateUrl: './persons/pass.html?v=' + version,
                controller: 'PersonResetPassController'
            }).when('/createPerson',{
                templateUrl: './persons/createprofile.html?v=' + version,
                controller: 'CreateProfile'
            }).otherwise({
                templateUrl: './empty.html?v=' + version,
                controller: 'RouteController'
            });

        }]);

    job4j.controller('RouteController', function ($scope, $http, $location, $route, $routeParams) {
        doAction($http,
            function() {
                $('#notification').show();
                $('#task_algo').show();
                $('#profile').show();
                $('#orders').show();
                $('#persons').show();
                $('#createPerson').show();
                $('#change_password').show();
            },
            function() {
                $('#profile').show();
                $('#change_password').show();
            },
            function(response) {
                console.log(response);
            },
            'ROLE_ADMIN', undefined
        );
        $location.path("/profileView");
    });

    job4j.controller('NotificationTemplateController', function ($scope, $http, $location, $route, $routeParams) {
        $scope.isAdmin = user.hasRole("ROLE_ADMIN");
        doGet($http, NTF_URL + "/template/find?id=" + $routeParams.id, function (data) {
            $scope.isAdmin = true;
            $scope.template = data.template;
            $scope.user = {};
            $scope.user.key = $scope.template.key;
        });

        $scope.send = function (user) {
            $http({
                method: 'POST',
                url: NTF_URL + "/template/send",
                data: user,
                headers: {
                    'Authorization': 'Bearer ' + readCookie("token"),
                    'Content-Type': 'application/json'
                },
            }).then(function successCallback(response) {
                $location.path("/notifications/template/" + $routeParams.id);
            }, function errorCallback(response) {
                console.log(response);
            });
        }
    });

    job4j.controller('NotificationTemplateUpdateController', function ($scope, $http, $location, $route, $routeParams) {
        $scope.isAdmin = user.hasRole("ROLE_ADMIN");
        $http({
            method: 'GET',
            url: NTF_URL + "/template/find" + ($routeParams.id ? "?id=" + $routeParams.id : ""),
            headers: {
                'Authorization': 'Bearer ' + readCookie("token"),
                'Content-Type': 'application/json'
            }
        }).then(function successCallback(response) {
            $scope.template = response.data;
        }, function errorCallback(response) {
            console.log(response);
        });

        $scope.save = function (setting) {
            $http({
                method: 'POST',
                url: NTF_URL + "/template/",
                data: setting,
                headers: {
                    'Authorization': 'Bearer ' + readCookie("token"),
                    'Content-Type': 'application/json'
                },
            }).then(function successCallback(response) {
                $location.path("/notifications");
            }, function errorCallback(response) {
                console.log(response);
            });
        }
    });

    job4j.controller('NotificationSettingsUpdateController', function ($scope, $http, $location, $route, $routeParams) {
        $scope.isAdmin = user.hasRole("ROLE_ADMIN");
        $http({
            method: 'GET',
            url: NTF_URL + "/setting/find" + ($routeParams.id ? "?id=" + $routeParams.id : ""),
            headers: {
                'Authorization': 'Bearer ' + readCookie("token"),
                'Content-Type': 'application/json'
            }
        }).then(function successCallback(response) {
            $scope.setting = response.data.setting;
            $scope.keys = response.data.keys;
        }, function errorCallback(response) {
            console.log(response);
        });

        $scope.save = function (setting) {
            $http({
                method: 'POST',
                url: NTF_URL + "/setting/",
                data: setting,
                headers: {
                    'Authorization': 'Bearer ' + readCookie("token"),
                    'Content-Type': 'application/json'
                },
            }).then(function successCallback(response) {
                $location.path("/notifications/settings");
            }, function errorCallback(response) {
                console.log(response);
            });
        }
    });

    job4j.controller('NotificationSettingsController', function ($scope, $http, $location, $route, $routeParams) {
        $scope.isAdmin = user.hasRole("ROLE_ADMIN");
        $http({
            method: 'GET',
            url: NTF_URL + "/setting/",
            headers: {
                'Authorization': 'Bearer ' + readCookie("token"),
                'Content-Type': 'application/json'
            }
        }).then(function successCallback(response) {
            $scope.settings = response.data;
        }, function errorCallback(response) {
            console.log(response);
        });

        $scope.delete = function (setting) {
            $http({
                method: 'DELETE',
                url: NTF_URL + "/setting/?id=" + setting.id,
                headers: {
                    'Authorization': 'Bearer ' + readCookie("token"),
                    'Content-Type': 'application/json'
                },
            }).then(function successCallback(response) {
                setting.deleted = true;
            }, function errorCallback(response) {
                console.log(response);
            });
        }
    });

    job4j.controller('NotificationViewController', function ($scope, $http, $location, $route, $routeParams) {
        doGet($http, NTF_URL + "/template/", function (data) {
            $scope.isAdmin = true;
            $scope.templates = data;
        });
        $scope.delete = function (template) {
            $http({
                method: 'DELETE',
                url: NTF_URL + "/template/?id=" + template.id,
                headers: {
                    'Authorization': 'Bearer ' + readCookie("token"),
                    'Content-Type': 'application/json'
                },
            }).then(function successCallback(response) {
                template.deleted = true;
            }, function errorCallback(response) {
                console.log(response);
            });
        }
    });

    job4j.controller('AlgosController', function ($scope, $http, $location, $route, $routeParams) {
        $('#task_algo').addClass("active");
        $('#task_algo').show();
        doGet($http, INTERVIEW_URL + "/interview/algo/", function (data) {
            $scope.loaded = true;
            $scope.algos = data;
        });
    });

    job4j.controller('AlgoViewController', function ($scope, $http, $location, $routeParams, $sce, $window) {
        $scope.running = false;
        $('#task_algo').addClass("active");
        $('#task_algo').show();
        doGet($http, INTERVIEW_URL + "/interview/algo/" + $routeParams.id, function (data) {
            $scope.loaded = true;
            $scope.algo = data;
            $scope.html = $sce.trustAsHtml;
            $scope.description = $sce.trustAsHtml(data.description);
        });

        $scope.run = function (algo) {
            $scope.running = true;
            $http({
                method: 'POST',
                url: INTERVIEW_URL + "/interview/algo/run",
                data: algo,
                headers: {
                    'Authorization': 'Bearer ' + readCookie("token"),
                    'Content-Type': 'application/json'
                },
            }).then(function successCallback(response) {
                $scope.running = false;
                $scope.result = true;
                $scope.log = response.data;
            }, function errorCallback(response) {
                console.log(response);
            });
        }

        $scope.deleteStage = function(stage) {
            if (confirm("Удалить этап?")) {
                doDelete($http, INTERVIEW_URL + "/stage/?id=" + stage.id, function (data) {
                    stage.deleted = true;
                });
            }
        };
    });

    job4j.controller('AlgoUpdateController', function ($scope, $http, $location, $routeParams, $sce, $window) {
        $('#task_algo').addClass("active");
        $('#task_algo').show();

        if ($routeParams.id) {
            doGet($http, INTERVIEW_URL + "/interview/algo/" + $routeParams.id, function (data) {
                $scope.loaded = true;
                $scope.algo = data;
                $scope.id = $routeParams.id;
                $('#description').val(data.description);
                $('#description').summernote({height: 300});
            });
        } else {
            $scope.loaded = true;
            $('#description').summernote({height: 300});
        }

        $scope.addNewChoice = function() {
            var newItemNo = $scope.choices.length+1;
            $scope.choices.push({});
        };

        $scope.removeChoice = function() {
            var lastItem = $scope.choices.length-1;
            $scope.choices.splice(lastItem);
        };

        $scope.save = function (algo) {
            algo.description = $("#description").val();
            $http({
                method: 'POST',
                url: INTERVIEW_URL + "/interview/algo/",
                data: algo,
                headers: {
                    'Authorization': 'Bearer ' + readCookie("token"),
                    'Content-Type': 'application/json'
                },
            }).then(function successCallback(response) {
                $location.path("/algo/" + response.data.id);
            }, function errorCallback(response) {
                console.log(response);
            });
        }
    });
    // DIRECTIVE - FILE MODEL
    job4j.directive('fileModel', ['$parse', function ($parse) {
        return {
            restrict: 'A',
            link: function(scope, element, attrs) {
                var model = $parse(attrs.fileModel);
                var modelSetter = model.assign;

                element.bind('change', function(){
                    scope.$apply(function(){
                        modelSetter(scope, element[0].files[0]);
                    });
                });
            }
        };
    }]);

    job4j.controller('ProfileController', function ($scope, $http, $location, $route, $routeParams) {
        $('#profile').addClass("active");
        $('#profile').show();
        $('#profileView').show();
        $('#change_password').show();
        doGet($http, OAUTH_URL + "/person/current", function (data) {
            $('#about').val(data.about);
            $('#about').summernote({height: 300});
            $scope.person = data;
            loadProfile(data);
        });
        $scope.load = function (link) {
            if (link !== undefined && link !== '') {
                doPost($http, OAUTH_URL + "/person/hh", link, function (data) {
                    $('#about').val(data.about);
                    document.getElementsByClassName('note-editable')[0].innerHTML = data.about;
                    $('#about').summernote({height: 300});
                    $scope.person = data;
                    $scope.photo.imgUrl = data.urlHh;
                });
            }
        };
        $scope.save = function (person) {
            person.about = $("#about").val();
            $("#profile-form").validator('validate');
            if (formIsValid("#profile-form")) {
                $("#profile-form :input").prop("disabled", true);

                var file = $scope.file;
                var formData = new FormData();
                formData.append("person", new Blob([JSON.stringify(person)], {type: "application/json"}));
                formData.append('file', file);
                var config = {
                    transformRequest: angular.identity,
                    transformResponse: angular.identity,
                    headers: {
                        'Authorization': 'Bearer ' + readCookie("token"),
                        'Content-Type': undefined
                    }
                };
                $http.post(OAUTH_URL + "/person/updateMultipart", formData, config)
                    .then(function (response) {
                        if (response.data ==='ok') {
                            $location.path("/profileView");
                        } else {
                            $scope.message = response.data;
                            $scope.updated = true;
                        }
                    });
            }
        };
        loadProfile = function(data) {
            if (data.photo === null) {
                var url = "../img/nobody_m.jpg";
            } else {
                url = OAUTH_URL + "/img?id=" + data.photo.id;
            }
            var photo = {
                imgUrl: url
            };
            $scope.photo = photo;
        };
        $(function(){
            var wrapper = $( ".file_upload" ),
                inp = wrapper.find( "input" ),
                btn = wrapper.find( ".button" ),
                lbl = wrapper.find( "mark" );

            // Crutches for the :focus style:
            inp.focus(function(){
                wrapper.addClass( "focus" );
            }).blur(function(){
                wrapper.removeClass( "focus" );
            });

            var file_api = ( window.File && window.FileReader && window.FileList && window.Blob ) ? true : false;

            inp.change(function(){
                var file_name;
                if( file_api && inp[ 0 ].files[ 0 ] )
                    file_name = inp[ 0 ].files[ 0 ].name;
                else
                    file_name = inp.val().replace( "C:\\fakepath\\", '' );
                if( ! file_name.length )
                    return;
                if( lbl.is( ":visible" ) ){
                    lbl.text( file_name );
                    btn.text( "Выбрать" );
                }else
                    btn.text( file_name );
            }).change();
        });
        $( window ).resize(function(){
            $( ".file_upload input" ).triggerHandler( "change" );
        });
    });
    job4j.controller('ViewPersonController', function ($scope, $http, $location, $route, $routeParams, $sce) {
        if ($routeParams.key) {
            doGet($http, OAUTH_URL + "/person/profile?key=" + $routeParams.key, function (data) {
                $scope.hideEmail = true;
                loadProfile(data);
            });
            doGet($http, EXAM_URL + "/exams/answers/certificate?key=" +  $routeParams.key, function (data) {
                $scope.past = data;
            });
        } else  {
            $('#profile').show();
            $('#profileView').addClass("active");
            $('#profileView').show();
            $('#change_password').show();
            doGet($http, OAUTH_URL + "/person/current", function (data) {
                loadProfile(data);
            });
            doGet($http, EXAM_URL + "/exams/answers/", function (data) {
                $scope.past = data;
            });
        }

        loadProfile = function(data) {
            $scope.person = data;
            $scope.about = $sce.trustAsHtml(data.about);
            if (data.photo === null) {
                var url = "../img/nobody_m.jpg";
            } else {
                url = OAUTH_URL + "/img?id=" + data.photo.id;
            }
            var photo = {
                imgUrl: url
            };
            $scope.photo = photo;
        }

    });

    job4j.controller('CreateProfile', function ($scope, $http, $location, $route, $routeParams) {
        $('#createPerson').addClass('active');
        $('#createPerson').show();
        $scope.create = function (person) {
            $("#profile-form").validator('validate');
            if (formIsValid("#profile-form")) {
                $("#profile-form :input").prop("disabled", true);
                doPost($http, OAUTH_URL + "/person/create", person, function (data) {
                        if (data.error) {
                            $('#create_error').html(data.error);
                            $('#create_error').show();
                            $(selector + " :input").prop("disabled", false);
                        } else {
                            $scope.created = true;
                            $(selector + " :input").prop("disabled", false);

                        }
                    }
                );
            }
        }
    });

    job4j.controller('OrderController', function ($scope, $http, $location, $route, $routeParams) {
        $('#orders').addClass("active");
        $('#orders').show();
        doGet($http, OAUTH_URL + "/order/list?type=" + $routeParams.type, function (data) {
            $scope.loaded = true;
            $scope.orders = data;
        });

        $scope.archive = function (order) {
            doPut($http, OAUTH_URL + "/order/archive", order,
                function (data) {
                    order.archive = true;
                }
            );
        }
    });

    job4j.controller('PersonController', function ($scope, $http, $location, $route, $routeParams) {
        $('#persons').addClass("active");
        $('#persons').show();
        var vm = this;
        vm.users = [];
        vm.pageno = 0;
        vm.itemsPerPage = 50;
        vm.getData = function(pageno, search) {
            if (search ==="" || search === undefined ) {
                var url = OAUTH_URL + "/person/list/" + vm.itemsPerPage + "/" + pageno + "/noSearch";
            }else {
                url = OAUTH_URL + "/person/list/" + vm.itemsPerPage + "/" + pageno + "/" + search;
            }
            vm.users = [];
            doGet($http, url,
                function (data) {
                    $scope.loaded = true;
                    vm.users = data.users;
                    vm.total_count = data.total;
                }
            );
        };
        vm.getData(vm.pageno);
        $scope.data = vm;

        $scope.search = function (person) {
            console.log(person);
            vm.pageno = 0;
            vm.getData(vm.pageno, person);
        }
    });

    job4j.controller('PersonUpdateController', function ($scope, $http, $location, $route, $routeParams) {
        $scope.isAdmin = user.hasRole("ROLE_ADMIN");
        doGet($http,  OAUTH_URL + "/person/" + $routeParams.id,
            function (data) {
                $scope.loaded = true;
                $scope.person = data.person;
                $scope.roles = data.roles;
            }
        );

        $scope.save = function (person) {
            var size = person.roles.length;
            for (var index = 0; index !== size; index++) {
                try {
                    person.roles[index] = JSON.parse(person.roles[index]);
                } catch (e) {
                    person.roles[index] = null;
                }
            }
            doPut($http, OAUTH_URL + "/person/", person,
                function (data) {
                    $location.path("/persons");
                }
            );
        };
    });

    job4j.controller('PersonResetPassController', function ($scope, $http, $location, $route, $routeParams) {
        $scope.pass = {};
        if ($routeParams.id) {
            $scope.isAdmin = user.hasRole("ROLE_ADMIN");
            doGet($http, OAUTH_URL + "/person/" + $routeParams.id,
                function (data) {
                    $scope.loaded = true;
                    $scope.person = data.person;
                    $scope.roles = data.roles;
                }
            );
        } else {
            $('#profile').show();
            $('#profileView').show();
            $('#change_password').show();
            $('#change_password').addClass("active");
            doGet($http, OAUTH_URL + "/person/current", function (data) {
                $scope.loaded = true;
                $scope.person = data;
            });
        }
        $scope.save = function (person, pass) {
            if (pass.newPass !== pass.repeat) {
                $scope.message = 'Пароли не совпадают.';
                $scope.updated = true;
                $('#newPass').addClass('empty_field');
                $('#newRepeat').addClass('empty_field');
            } else if(pass.newPass.length < 6) {
                $scope.updated = true;
                $('#newPass').addClass('empty_field');
                $('#newRepeat').addClass('empty_field');
                $scope.message = 'Минимальная длина пароля 6 символов.';
            } else {
                $scope.updated = false;
                $('#newPass').removeClass('empty_field');
                $('#newRepeat').removeClass('empty_field');
                pass.id = person.id;
                doPut($http, OAUTH_URL + "/person/pass", pass,
                    function (data) {
                        console.log(data);
                        if (data === 'ok') {
                            $location.path("/profileView");

                        } else {
                            $scope.updated = true;
                            $('#oldPass').addClass('empty_field');
                            $scope.message = data;
                        }
                    }
                );
            }

        };
    });
</script>
<script src="../../static/js/directives/header-directive.js?v=19.10.2018"></script>
<script src="../../static/js/directives/footer-directive.js?v=19.10.2018"></script>
</body>
</html>
