<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../static/img/favorite.png" rel="icon" type="image/png">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta content="Обучение и трудоустройство Java-программистов от Junior до Senior" name="description">
    <meta content="Job4j.ru" name="author">
    <title>Обучение и трудоустройство Java-программистов от Junior до Senior</title>

    <!-- Required meta tags -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" rel="stylesheet">
    <!-- Bootstrap 5.3.2 CSS -->
    <link rel="stylesheet" th:href="@{/css_bootstrap_5_3_2/bootstrap.min.css}">
    <script th:href="@{/js_bootstrap_5_3_2/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js_bootstrap_5_3_2/popper.min.js}"></script>
    <script th:src="@{/js_bootstrap_5_3_2/bootstrap.min.js}"></script>
    <script th:src="@{/js_bootstrap_5_3_2/code.jquery.com_jquery-3.7.0.min.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <div class="container mt-3">
        <div class="row mb-3">
            <div class="col-3">
                <div class="mb-3">
                    <i class="fas fa-image" style="font-size: 3em;"
                       th:if="${#strings.isEmpty(profile.photoId)}"></i>
                    <img alt="No image"
                         class="w-100"
                         th:if="${not #strings.isEmpty(profile.photoId)}" th:src="@{http://localhost:9900/img(id=*{profile.photoId})}">
                </div>
            </div>
            <div class="col-9">
                <div class="mb-3">
                    <h3>
                        <p th:text="${profile.username}">Имя пользователя</p>
                    </h3>
                </div>
                <div class="mb-3">
                    <p th:text="${profile.experience}">Описание</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>