<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/img/icons/svg/check-double-solid_dark.svg">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="description" content="CheckDev - пробные собеседования в IT.">
    <title>categories</title>

    <!-- Required meta tags -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" rel="stylesheet">
    <!-- Bootstrap 5.3.2 CSS -->
    <link rel="stylesheet" th:href="@{/css_bootstrap_5_3_2/bootstrap.min.css}">
    <script th:href="@{/js_bootstrap_5_3_2/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js_bootstrap_5_3_2/popper.min.js}"></script>
    <script th:src="@{/js_bootstrap_5_3_2/bootstrap.min.js}"></script>
    <script th:src="@{/js_bootstrap_5_3_2/code.jquery.com_jquery-3.7.0.min.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:if="${categories != null}">
    <div class="container">
        <div class="row">
            <div th:if="${canManage}" class="col-md-12 pull-right">
                <a th:href="@{/category/createForm}"
                   class="btn mb-2" role="button" aria-pressed="true"
                   style="background-color: lavender; border-color: lavender;">
                    Создать категорию
                </a>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <table class="table table-hover">
                    <tr th:each="category: ${categories}">
                        <td>
                            <div>
                            <span>
                                <a class="text-decoration-none text-dark h5"
                                   th:href="@{|/topics/${category.id}|}"
                                   th:text="${category.name}">
                                </a>
                            </span>
                                <span>
                                <a th:if="${canManage}"
                                   class="text-decoration-none text-dark"
                                   th:href="@{|/category/editForm/${category.id}/${category.name}|}">
                                    <i class="fas fa-pencil-alt pl-3"></i>
                                </a>
                            </span>
                            </div>
                            <small class="mb-2 text-muted">
                                <span><i class="fas fa-eye pr-3"></i> : </span>
                                <span class="fw-bold" th:text="${category.total}"></span>
                                <span class="mr-3">Тем : </span>
                                <span class="fw-bold" th:text="${category.topicsSize}"></span>
                                <span th:if="${canManage}" > |
                                <span class="mr-3">Позиция : </span>
                                <span class="fw-bold" th:text="${category.position}"></span>
                            </span>
                            </small>
                            <div th:if="${userInfo != null}">
                                <a class="nav-item nav-link" th:if="${!userDTO.subscribeCategoryIds.contains(category.id)}">
                                    <form th:action="@{/notification/subscribeCategory}"  method="POST">
                                        <div class="form-group">
                                            <input type="hidden" name="id" th:value="${userInfo.id}"/>
                                            <input type="hidden" name="categoryId" th:value="${category.id}" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Подписаться</button>
                                    </form>
                                </a>
                                <a class="nav-item nav-link" th:if="${userDTO.subscribeCategoryIds.contains(category.id)}">
                                    <form th:action="@{/notification/unSubscribeCategory}"  method="POST">
                                        <div class="form-group">
                                            <input type="hidden" name="id" th:value="${userInfo.id}"/>
                                            <input type="hidden" name="categoryId" th:value="${category.id}" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Отписаться</button>
                                    </form>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>Новых: 1</span> |
                                <span>Проведено: 100500</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>