<footer class="main-footer">
    <div class="upper">
        <div class="container">
            <div class="row">
                <div class="logo col-xl-3 col-lg-3 col-md-6">
                    <div class="logo-wrp">
                        <a href="#">
                            <img alt="" src="../static/img/white-logo.png">

                        </a>
                        <a href="#">
                            <img alt="" src="../static/img/full-logo.png">
                        </a>
                    </div>
                    <div class="text">
                        <span class="bold">Помощник HR</span> - найти работу проще,
                        чем Вы думаете
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-3 footer-menu">
                    <ul class="list">
                        <li><a href="help.html">Как это работает</a></li>
                        <li><a href="#" onclick="return loadPage('index.html', '#/vacancies');">Вакансии</a></li>
                        <li><a href="#" onclick="return loadPage('index.html', '#/vacancy/update');">Добавить
                            вакансию</a></li>
                        <li><a href="#" onclick="document.location.href = CONTEXT + 'exams/exams.html';">Сертификаты</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 contact">
                    Связаться с нами можно,
                    <span class="block">написав на элекронный адрес</span>
                    <span class="block"><a class="link" href="#">parsentev@yandex.ru</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="low">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="text">
                        © 2015-2018 Job4j.ru Все права защищены
                        <a class="link block" href="#">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>