<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../static/img/favorite.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="description" content="CheckDev - пробные собеседования в IT.">
    <title>interviews</title>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap 5.3.2 CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <script th:href="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <div>
        <div class="cell">
            <table class="table table-hover">
                <tbody>
                <tr th:each="interview: ${interviews}">
                    <td>
                        <div>
                            <span class="fw-bold">
                                    <a class="text-decoration-none text-dark"
                                       th:href="@{|/interview/${interview.id}|}">
                                        <h3 th:text="${interview.title}"></h3>
                                    </a>
                            </span>
                            <small class="mb-2 text-muted">
                            <span th:each="user: ${users}">
                                <span th:if="${interview.submitterId == user.getId()}">
                                    <span th:text="${'Автор: ' + user.getUsername()}"></span>
                                </span>
                            </span> |
                                <span th:text="${'Дата создания: ' + #strings.substring(interview.createDate, 0, 10)}"></span>
                                |
                                <!--Из переданного набора ENUM выбираем статус по его ID-->
                                <span>Статус: </span>
                                <span th:each="type: ${statuses}">
                                    <span th:if="${interview.typeInterview == type.getId()}">
                                        <span th:text="${type.getInfo()}">
                                    </span>
                                </span>
                                </span>
                            </small>
                        </div>
                    </td>
                    <td>
                        <div>
                            <small class="mb-2 text-muted">
                                <span> Дата проведения собеседования: </span>
                            </small>
                            <span class="mb-2 text-muted">
                                    <h5 th:text="${interview.approximateDate}"></h5>
                            </span>
                            <span th:if="${statisticMap.get(interview.id) != null}">
                                <small class="text-muted" th:text="'Участвуют: ' + ${statisticMap.get(interview.id).participate}">Участников: </small>
                                <small class="text-muted" th:text="'Ожидают: ' + ${statisticMap.get(interview.id).expect}">Ожидают: </small>
                                <small class="text-muted" th:text="'Сдали: ' + ${statisticMap.get(interview.id).passed}">Сдано: </small>
                            </span>
                            <span th:unless="${statisticMap.get(interview.id) != null}">
                                <small class="text-muted" th:text="'Участвуют: 0'">Участников: </small>
                                <small class="text-muted" th:text="'Ожидают: 0'">Ожидают: </small>
                                <small class="text-muted" th:text="'Сдали: 0'">Сдано: </small>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>