<div class="row p-3" ng-hide="loaded">
    <div class="col-md-6">
        <div class="float-right">
            <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-secondary" href="#/algo/update/{{algo.id}}">Отредактировать</a>
        <a class="btn btn-secondary" ng-href="#/algos">Назад</a>
        <button class="btn btn-secondary float-right" ng-click="run(algo)">Запустить</button>
    </div>
</div>
<div class="row" ng-show="running">
    <div class="col-md-2 col-md-offset-5">
        <div class='uil-ripple-css' style='transform:scale(0.54);'>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 10px;">

    <div class="col-md-12" ng-show="result">
        <pre>{{ log }}</pre>
    </div>
