
<div class="row">
    <h2>Создать профиль пользователя.</h2>
    <div class="alert alert-danger" id="create_error" style="display: none;"></div>
    <div class="alert alert-info" ng-show="created">
        Профиль сохранен.
    </div>
    <div class="col-md-12" id="profile-form" role="form">
        <div class="card">
            <div class="card-header">
                <h4>Заполните форму.</h4></div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">ФИО:</label>
                    <input class="form-control" data-error="Заполните поле" data-minlength="6" id="name"
                           ng-model="person.username"
                           required type="text">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" data-error="Заполните поле" data-minlength="6" id="email"
                           ng-model="person.email"
                           required type="text">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input class="form-control" data-error="Заполните поле пароль" data-minlength="6" id="password"
                           ng-model="person.password"
                           placeholder="Пароль"
                           required type="password">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="active">Активировать:</label>
                    <input id="active" ng-false-value="{{false}}" ng-model="person.active" ng-true-value="{{true}}"
                           type="checkbox">
                </div>
                <a class="btn btn-secondary" href="#"
                   onclick="document.location.href = CONTEXT + 'settings/settings.html';">
                    Назад
                </a>
                <button class="btn btn-secondary float-right" ng-click="create(person)">Сохранить</button>
            </div>
        </div>
    </div>
</div>